<div class="row">
    <div class="col">
        <h2>Terms of Use</h2>
        <h3>Acceptance of the Terms and Conditions</h3>
        <p>
This Terms of Use Agreement (this “Agreement”), states the terms and conditions under which you may use this web site (the “Site”). Please read this Agreement carefully. This Site contains various information relating to DateClutch in the form of text, graphics, news, reports, and other materials (tangible or intangible) (“Content”). By accessing, browsing and/or using this Site you acknowledge that you have read, understood and agree to be legally bound by this Agreement. If you do not accept this Agreement (and therefore do not agree to by bound by this Agreement), do not use this Site. We reserve the right to amend this Agreement at any time by posting the amended terms on our Site.
        </p>

        <h3>DISCLAIMER OF WARRANTY</h3>

        <p>
THE CONTENT PROVIDED ON THIS WEBSITE IS PROVIDED AS A SERVICE TO ITS MEMBERS. INFORMATION PRESENTED ON THIS WEBSITE IS PROVIDED FOR INFORMATIONAL PURPOSES ONLY. NO INFORMATION PRESENTED ON THIS WEBSITE CONSTITUTES LEGAL ADVICE.
        </p>

        <p>
YOU ACKNOWLEDGE AND AGREE THAT THIS SITE AND THE CONTENT THEREIN ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS. NONE OF DATECLUTCH, ANY OF ITS MEMBERS, AFFILIATES OR THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES OR AGENTS GUARANTEES THE ACCURACY, COMPLETENESS, OR USEFULNESS OF ANY OF THE CONTENT.
        </p>

        <p>
NONE OF DATECLUTCH WARRANTS THAT THIS SITE WILL BE UNINTERRUPTED OR ERROR FREE OR THAT THIS SITE, ITS SERVER OR ANY FILES AVAILABLE FOR DOWNLOADING THROUGH THIS SITES ARE FREE OF COMPUTER VIRUSES OR OTHER HARMFUL ELEMENTS. YOU EXPRESSLY AGREE THAT THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF THIS SITE AND THE ACCURACY OR COMPLETENESS OF THE CONTENT IS ASSUMED SOLELY BY YOU.
        </p>

        <p>
NONE OF DATECLUTCH MAKES ANY, AND HEREBY SPECIFICALLY DISCLAIMS ANY, REPRESENTATIONS, ENDORSEMENTS, GUARANTEES, OR WARRANTIES, EXPRESS OR IMPLIED, REGARDING THIS SITE OR ANY CONTENT, INCLUDING WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT OF THIRD-PARTY RIGHTS.
        </p>

        <h3>LIMITATION OF LIABILITY</h3>

        <p>
        UNDER NO CIRCUMSTANCES WILL DATECLUTCH BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY YOUR RELIANCE ON INFORMATION OBTAINED THROUGH THE CONTENT ON THE WEB SITE. IT IS YOUR RESPONSIBILITY TO EVALUATE THE ACCURACY, COMPLETENESS, OR USEFULNESS OF ANY INFORMATION OR ANY CONTENT AVAILABLE THROUGH THE WEB SITE.
        </p>

        <p>
IN NO EVENT SHALL DATECLUTCH BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR RELATING TO THE CONTENT, SERVICE, OR THIS AGREEMENT, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY.
        </p>

        <p>
BECAUSE SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR NEGLIGENCE, CONSEQUENTIAL OR INCIDENTAL DAMAGES, IN SUCH JURISDICTIONS THE LIABILITY OF DATECLUTCH IS LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW.
        </p>

        <p>
YOUR SOLE AND EXCLUSIVE REMEDY FOR DISSATISFACTION WITH THIS SITE IS TO STOP USING THIS SITE.
        </p>

        <h3>Links to Other Sites</h3>

        <p>
As a convenience to you, this Site may provide links to third party websites through links available on this Site. Lists of links are not complete lists of relevant and/or useful internet resources. Our decision to link to a Third-Party Site is not an endorsement of the content in that linked Third Party Site. WE ARE NOT RESPONSIBLE FOR THE CONTENT OF ANY THIRD PARTY WEB SITE, NOR DO
WE MAKE ANY WARRANTIES OR REPRESENTATIONS, EXPRESS OR IMPLIED, REGARDING THE CONTENT (OR THE ACCURACY, CURRENTNESS, OR COMPLETENESS OF SUCH CONTENT) ON ANY THIRD PARTY WEB SITES, AND DATECLUTCH SHALL HAVE NO LIABILITY OF ANY NATURE WHATSOEVER IN RELATION TO ANY OF THE FOREGOING. You should take precautions when downloading files from all Sites to protect your computer from viruses and other destructive programs. If you decide to access linked Third-Party Sites, you do so at your own risk. You should direct any concerns to the Third-Party Sites’ administrator or webmaster.
        </p>

        <h3>Use of Personally Identifiable Information</h3>

        <p>
DateClutch practices and policies with respect to the collection and use of personally identifiable information is governed according to the DateClutch Privacy Policy.
        </p>

        <h3>What is DateClutch</h3>
        <p>
        DateClutch is the name of the program that allows you to choose/distribute dates-times for participant selection. If there is any organization behind DateClutch, it would its contributors. 
        </p>

        <h3>Your conduct</h3>
        <p>
        By using this website you agree to not attempt to degrade the server's ability to serve content, the quality of the content, and the experience of others. Those with the ability to share content agree to do so with the responsibility it requires to not add inappropriate content to the site. Examples of inappropriate content are explicit or copyright content.
        </p>
        <p>
        By visiting and registering with this website you agree to abide by these terms.
        </p>
        <p>
        While we strive to make all resources helpful there is always a risk that some bad content is added or linked from this website. DateClutch creators and the host take no responsibility for your exposure or any damage caused by them.
        </p>

        <h3>Failure to comply to terms</h3>
        <p>
        DateClutch reserves the right to modify or remove user content.
        </p>
    </div>
</div>
