          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" autocomplete="off" autofocus="autofocus" id="username" name="username" maxlength="32" aria-describedby="usernameHelp">
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" autocomplete="off" id="email" name="email" maxlength="62" aria-describedby="emailHelp">
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>

          <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>
