/* blither CSS */

/* Colour scheme
  is triadic with the
  teal: #36FFA8
  ocre: #FFA836
  violet: #A836FF
*/

/* define custom properties */
:root {
    --primary-colour: #36FFA8;
    --secondary-colour: #A836FF;
    --highlight-colour: #FFA836;
}

body {
    font-size: 1.3em;
}

footer {
    font-size: 0.7em;
}

footer ul {
  list-style-type: none;
  padding-left: 0em;
}
    
div#content {
    min-height: 70vh;
}

div#footer {
    min-height: 20vh;
}

nav {
  padding: 0 15px;
}

h1, .accent1, .accent1 a {
    color: var(--primary-colour);
}
h2, .accent2, .accent2 a {
    color: var(--secondary-colour);
}
h3, .accent3, .accent3 a {
    color: var(--highlight-colour);
}

a {
    text-decoration: none;
    color: inherit;
}

button.btn {
    background-color: var(--highlight-colour);
    border-color: var(--highlight-colour);
    color: black;
}
button.btn:hover, button.btn:first-child:focus-visible, button.btn:first-child:active {
    background-color: var(--highlight-colour);
    border-color: var(--highlight-colour);
    color: black;
}

button.btn-flashes:first-child:active {
    background-color: var(--primary-colour);
    border-color: var(--primary-colour);
    transition: all 0.2s ease-out;
}

a {
    color: var(--primary-colour);
}

a:hover, [type="submit"].btn:hover {
    opacity: 0.8;
    transition: all 0.2s;
}

/* very specific identifiers */
.daterow {
    background-color: #1a1d20;
    font-size: 0.9em;
}

.daterow:hover {
}
